<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header') %>
</head>
<body>
    
    <%- include('./partials/nav') %>
    <%= blogs %>
    <h1>hi welcome there</h1>
    <% if (blogs.length === 0) { %>
      <p>No blogs available</p>
    <% } else { %>
      <% blogs.forEach(blog => { %>
        <div class="card" style="width: 18rem;">
          <% if (blog.coverimageurl) { %>
            <img src="<%= blog.coverimageurl %>" class="card-img-top" alt="...">
          <% } else { %>
            <img src="placeholder-image.jpg" class="card-img-top">
          <% } %>
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            <p class="card-text"><%= blog.body %></p>
            <a href="#" class="btn btn-primary">View</a>
          </div>
        </div>
      <% }) %>
    <% } %>
    

    



    <%- include('./partials/scripts') %>
</body>
</html>